<server description="Golden Gradle migration">
  <featureManager>
    <feature>cdi-4.1</feature>
    <feature>restfulWS-4.0</feature>
    <feature>data-1.0</feature>
    <feature>persistence-3.2</feature>
  </featureManager>
  <data id="TodoStore" createTables="false" dropTables="false">
    <properties.jakarta.persistence jakarta.persistence.schema-generation.database.action="none"/>
  </data>
</server>
